$header-color: #4E5455;
$main-color: #1C1C1C;

// Fonts
$font-family-main: 'Open Sans', sans-serif;
$font-family-condensed: 'Open Sans Condensed', sans-serif;

// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$third-color: #000;
$background-color: #f8f9fa;
$footer-background-color: #222;
$title-color: #fff;
$background-hero-color: #007bff;

// Spacing
$padding-base: 10px;
$margin-base: 20px;