@use './styles/variables' as vars;
@use 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Open Sans Condensed', sans-serif;
    color: vars.$header-color;
}